.p1 {
    background-image: url("https://storage.alboom.ninja/sites/39752/albuns/750799/bar_9433.jpg?t=1606827503");
    background-size: contain; /* Asegura que la imagen completa se muestre sin deformarse */
    background-position: center; /* Posiciona la imagen en el centro de la pantalla */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Cubre el 100% de la altura de la ventana visible */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el texto */
.texto-invitacion {
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 4vw; /* Tamaño del texto adaptativo */
}

/* Estilo del footer */
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    font-size: 1.2vw;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .p1 {
        background-size: cover; /* Cubre toda la pantalla pero puede recortar un poco */
        background-position: 75% center; /* Mueve el punto focal hacia la izquierda mostrando más de los segundos 3/4 de la imagen */
    }

    .texto-invitacion {
        font-size: 6vw;
    }

    footer {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .p1 {
        background-size: cover; /* Cubre la pantalla pero sigue permitiendo mostrar más de los 3/4 derechos */
        background-position: 75% center; /* Ajusta la posición a un 75% desde la derecha */
        height: 100vh; /* Mantén el 100% de la altura de la pantalla */
    }

    .texto-invitacion {
        font-size: 8vw;
    }

    footer {
        font-size: 4vw;
    }
}
