body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-image: url("https://storage.alboom.ninja/sites/39752/albuns/750799/bar_9395.jpg?t=1606827501");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 5vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

header .texto-invitacion h2 {
    font-size: 3vw;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

p, li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
}

/* Estilos para botones */
button {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1rem auto;
}

button:hover {
    background-color: #d81b60;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    margin: ;
    font-size: 1rem;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: auto;
}

/* Estilos para la galería */
.galeria {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.galeria img, .galeria video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header {
        background-position: 75% center;
        background-size: cover;
    }

    header h1 {
        font-size: 8vw;
    }

    header .texto-invitacion h2 {
        font-size: 6vw;
    }

    h2 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    p, li {
        font-size: 1rem;
    }
}

/* Estilos para tamaños más pequeños */
@media (max-width: 480px) {
    header {
        height: 80vh;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, li {
        font-size: 0.9rem;
    }

    .galeria {
        flex-direction: column;
    }
}
#countdown {
    font-size: 2rem;
    color: #fff;
    margin-top: 20px;
}